<h1>Profile Page</h1>
<%= "Welcome to your profile page, #{@user.email}!" %>
<h3>Here is your list of things to do:</h3>
<div id="item_list">
  <ul>
  <%= render @user.items %>
  </ul>
</div>
  
<h3>Submit a new to do Item to your list</h3>
  <%= render 'items/form' %> 
