<li id="item_<%= item.id %>">
  <%= item.name %>
  <%= link_to "", [current_user, item], method: :delete, class: 'glyphicon glyphicon-ok', data: { confirm: 'Confirm that this item is completed?' }, remote: true %>
</li>

